body { margin:0; background: black; font-family: 'Open Sans', sans-serif;  }

* { /* PREVENTS THE GRAY HIGHLIGHTING ON CLICK AND DRAG */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* { box-sizing: border-box; }

a { text-decoration: none; color: #fff;  }

