body {
  margin:0;
  background: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

* { /* PREVENTS THE GRAY HIGHLIGHTING ON CLICK AND DRAG */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* { box-sizing: border-box; }

a { text-decoration: none; color: #fff; transition:color .3s ease-in; -webkit-transition:color .3s ease-in; -moz-transition:color .3s ease-in;  }
a:hover { color: #3ed3e0; }

h1 { font-weight: 300; font-size: 20px; color: #3ed3e0; }


#nav {
  z-index:999;
  color: #fff;
  position: fixed;
  bottom:0;
  left:0;
  padding: 20px 0;
  background: rgba(0,0,0,.8);
  width:100%;
  text-align: right;
}

#nav a {
  margin-right: 20px;
}

.navlink {
  cursor: pointer;
}

.overlay {
  position: fixed;
  background: rgba(0,0,0,.85);
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 998;
  display: none;
  opacity: 0;
  padding: 20px;
  color: #fff;
  overflow: auto;
}

.overlay-close {
  float:right;
  cursor: pointer;
}

.overlay-content {
  padding-bottom: 60px;
}

.overlay-content p {
  margin-top: 0;
}

.columned {
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
}

.line {
  margin-bottom: 2px;
}

.overlay-content span, .overlay-content a {
  display: inline-block;
  margin-left: 20px;
  width: 150px;
  vertical-align: top;
}

.overlay-content span:first-child {
  margin-left: 0;
}

/* PAGE-SPECIFIC */
#about-content {
  width: 60%;
  min-width: 320px;
}

#credits .title {
  width: 250px;
}

.screening .name {
  width: 250px;
}

.press-item {
  margin-bottom: 5px;
}

.press-item .publication {
  width: 250px;
}

.press-item .link {
  width: calc(100% - 290px);
}


/* MEDIA QUERIES */

@media (max-width:960px){
  .columned {
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
  }
}

@media (max-width:640px){
    .columned {
      columns: 1;
      -moz-columns: 1;
      -webkit-columns: 1;
    }

    .credit {
      margin-bottom: 20px;
    }

    .credit span, .credit a {
      display: block;
      margin-left: 0;
    }

    .press-item {
      margin-bottom: 20px;
    }

    .press-item .link {
      width: auto;
      margin-left: 0;
    }

}
