body {
  margin:0;
  background: black;
  /*font-family: 'materiapro_lightlight','Open Sans', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

* { /* PREVENTS THE GRAY HIGHLIGHTING ON CLICK AND DRAG */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* { box-sizing: border-box; }

a { text-decoration: none; color: #fff; transition:color .3s ease-in; -webkit-transition:color .3s ease-in; -moz-transition:color .3s ease-in;  }
a:hover { color: #3ed3e0; }

h1 { font-weight: 300; font-size: 20px; color: #3ed3e0; }


#nav {
  z-index:999;
  color: #fff;
  position: fixed;
  bottom:20px;
  left:0;
  width:100%;
  text-align: right;
}

#nav a {
  margin-right: 20px;
}

.overlay {
  position: fixed;
  background: rgba(0,0,0,.85);
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 998;
  display: none;
  padding: 20px;
  color: #fff;

}

#about-text {
  columns:3;
-webkit-columns:3; /* Safari and Chrome */
-moz-columns:3; /* Firefox */
}

#about-text p {
  margin-top: 0;
}

/*@font-face {
    font-family: 'materiapro_lightlight';
    src: url('../fonts/materia/materiapro_light-webfont.eot');
    src: url('../fonts/materia/materiapro_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/materia/materiapro_light-webfont.woff') format('woff'),
         url('../fonts/materia/materiapro_light-webfont.ttf') format('truetype'),
         url('../fonts/materia/materiapro_light-webfont.svg#materiapro_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

